<div class="table-responsive">
  <div class="table">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Product</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Total</th>
          <th scope="col" *ngIf="isBasket" class="text-center">Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of basket.items">
          <th scope="row" class="md-6">
            <div class="p-2">
              <img
                src="{{ item.pictureUrl }}"
                alt="{{ item.productName }}"
                class="img-fluid"
                style="height: 50px; width: 150px"
              />
              <div class="ml-3 d-inline-block align-middle">
                <h5>
                  <a rotuerLink="/shop/{{ item.id }}">{{ item.productName }}</a>
                </h5>
                <span class="text-muted d-block">Type :{{ item.type }}</span>
              </div>
            </div>
          </th>
          <td class="align-middle">
            <strong>{{ item.price | currency }}</strong>
          </td>
          <td class="align-middle">
            <div class="d-flex justify-content-start align-items-center">
              <i
                *ngIf="isBasket"
                (click)="decrementItemQuantity(item)"
                class="fa fa-minus-circle text-warning mr-2"
                style="cursor: pointer; font-size: 2em"
              ></i>
              <span class="font-weight-bold" style="font-size: 1.5em">{{
                item.quantity
              }}</span>
              <i
                *ngIf="isBasket"
                (click)="incrementItemQuantity(item)"
                class="fa fa-plus-circle text-warning ml-2"
                style="cursor: pointer; font-size: 2em"
              ></i>
            </div>
          </td>
          <td class="align-middle">
            {{ item.price * item.quantity | currency }}
          </td>
          <td class="align-middle text-center">
            <a class="text-danger"
              ><i
              *ngIf="isBasket"
                (click)="removeBasketItem(item)"
                class="fa fa-trash fa-lg"
                style="cursor: pointer"
              ></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
