<carousel>
    <slide>
        <img src="assets/images/slide.jfif"  alt="first" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/slide2.jfif"  alt="first" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/slide3.jfif"  alt="first" style="display: block; width: 100%;">
    </slide>
</carousel>

<section class="featured">
    <div class="d-flex justify-content-center pt-4">
        <h1>Hoşgeldiniz</h1>
    </div>
</section>