<div *ngIf="basket != null" class="container mt-5">
  <div class="pb-5">
    <div class="container">
      <div class="row">
        <div class="col-8 py-5 mb-1">
            <app-basket-summary
            (decrement)="decrementItemQuantity($event)"
            (increment)="incrementItemQuantity($event)"
            (remove)="removeBasketItem($event)"
            ></app-basket-summary>
        </div>
        <div class="col-4 py-5">
            <app-order-totals></app-order-totals>
            <a routerLink="/checkout" class="btn btn-outline-primary btn-block">Ödeme yap </a>        
        </div>
      </div>
      
    </div>
  </div>
</div>
